<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd">
    <context:component-scan base-package="cn.itrip.controller"/>
    <task:annotation-driven/>
    <mvc:annotation-driven>
        <mvc:message-converters><!--消息转换器  转json过程中，将时间类型的数据转成String-->
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                        <property name="dateFormat">
                            <bean class="java.text.SimpleDateFormat">
                                <constructor-arg type="java.lang.String" value="yyyy-MM-dd"/>
                            </bean>

                        </property>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <mvc:default-servlet-handler/>
    <!-- 配置文件上传  MultipartResolver-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"></property>
        <property name="maxUploadSize" value="5242880"></property>
        <property name="maxInMemorySize" value="40960"></property>
        <property name="resolveLazily" value="true"></property>
    </bean>
    <!--<mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>&lt;!&ndash;拦截的url&ndash;&gt;
            <mvc:exclude-mapping path="/*login"/>&lt;!&ndash;不拦截的URL&ndash;&gt;
            <bean class="com.kgc.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>-->

</beans>